.CodeMirror {
  border: 1px solid #eee;
  margin: 0 auto;
  width: 600px;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 14px;
  line-height: 28px;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-cursor {
  height: 18px;
}
.CodeMirror-lines pre {
  color: gray;
}
.cm-number {
  color: #003056;
  cursor: col-resize;
}
.hovering-number {
  color: #00A1D9;
}
.dragging-number {
  color: #00A1D9;
}
.number-widget {
  position: absolute;
  color: #214D70;
  line-height: 1em;
  z-index: 7;
  padding-top: 2px;
}
.number-widget .icon-link {
  margin: 2px;
}
.number-widget .icon-link :hover {
  color: green;
}
.number-widget .icon-lock {
  margin: 2px;
}
.cm-op {
  color: #47D9BF;
}
.cm-unit {
  color: #04518C;
}
.cm-heading {
  color: black;
  font-weight: bold;
}
