.cm-s-cruncher.CodeMirror {
    border: 1px solid #eee;
    margin: 0 auto;
    width: 600px;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 14px;
    line-height: 28px;
}
.cm-s-cruncher .CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
.cm-s-cruncher .CodeMirror-cursor {
    height: 18px;
}
.cm-s-cruncher .CodeMirror-lines pre {
    color: gray;
}

.cm-s-cruncher .cm-number {
    color: #003056;
    cursor: col-resize;
}
.cm-s-cruncher .hovering-number {
    color: #00A1D9;
}
.cm-s-cruncher .dragging-number {
    color: #00A1D9;
}
.cm-s-cruncher .free-number {
    color: #630D0A;
    cursor: not-allowed;
}
.cm-s-cruncher .free-number.hovering-number {
    color: #630D0A;
}

.number-widget {
    position: absolute;
    color: #214D70;
    line-height: 1em;
    z-index: 7;
}
.number-widget a {
    margin: 2px;
    cursor: pointer;
}
.number-widget a :hover {
    color: #00A1D9;
}
.free-number-widget.number-widget {
    color: #630D0A;
}
.free-number-widget.number-widget a :hover {
    color: #AF4A46;
}

.cm-s-cruncher .cm-op {
    color: #47D9BF;
}
.cm-s-cruncher .cm-unit {
    color: #04518C;
}
.cm-s-cruncher .cm-heading {
    color: black;
    font-weight: bold;
}

/* temporary disable for demo */
#link {
    display: none;
}
